{{!-- copied from wk 14 hw --}}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Tech Blog</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="wrapper">
        <header>
            <nav>
                {{#if loggedIn}}
                <a href="/dashboard" class="nav-btn">dashboard</a>
                <button id="logout">logout</button>
                {{else}}
                <a href="/login" class="nav-btn">login</a></button>
                <a href="/signup" class="nav-btn">signup</a></button>
                {{/if}}
            </nav>
            <h1>
                <a href="/">My Tech Blog</a>
            </h1>
        </header>
        <main>
            {{{ body }}}
        </main>
        <footer>
            Thanks for visiting!
        </footer>
    </div>

    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>

</html>